<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link class="main-icon" rel="icon" href="/images/plane.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/sky-styles.css">
  </head>
  
  <body>
      <header>
      <div class="c-header holder">
        <img src="/images/airplane-png.png" width="100" alt="imagen-cabezara" />
        <h1>Sky Airlines</h1>
      </div>
    </header>
    {{{body}}}

    <footer>
      <p>Diseñada por Tamer Saleh - &copy;2022</p>
      <div class="back-top" title="ir arriba">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
      </div>
    </footer>
  </body>
</html>
