<div class="holder" style="margin-top: 50px;">
    <div class="row">
        <p class="text-end">Hola {{usuario}} <a class="btn btn-danger" href="/admin/login/logout"> Salir <i class="fas fa-sign-out-alt"></i></a></p>
    </div>
</div>